<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacts</title>
</head>
<body>

  <h1>Ayun, gumagana na! lol</h1>
  <ul>
    <% for(let person of dispContacts) {%>
      <li><%= person.name %></li>
    <% } %>
  </ul>
  
</body>
</html>